@model Contracts.Requests.ProfileRequests.GetProfileResponse
@{
    ViewData["Title"] = "Profile";
    Layout = "_Layout";
}

<div class="main-wrapper">
    <!-- profile banner area start -->
    <div class="profile-banner-large bg-img" data-bg="@Model.BackgroundImage">
    </div>
    <!-- profile banner area end -->

    <!-- profile menu area start -->
    <div class="profile-menu-area secondary-navigation-style bg-white">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-3">
                    <div class="profile-picture-box">
                        <figure class="profile-picture">
                            <a href="profile">
                                <img src="@Model.ProfileImage" alt="profile picture">
                            </a>
                        </figure>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 offset-lg-1">
                    <div class="profile-menu-wrapper">
                        <div class="main-menu-inner header-top-navigation">
                            <nav>
                                <ul class="main-menu">
                                    <li><a href="/profile/@Model.UserId">profile</a></li>
                                    <li><a href="/photos/@Model.UserId">photos</a></li>
                                    <li><a href="/friends/@Model.UserId">friends</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                @if (Model.IsCurrentUserProfile)
                {
                    <div class="col-lg-2 col-md-3 d-none d-md-block">
                        <div class="profile-edit-panel">
                            <button class="edit-btn" data-toggle="modal" data-target="#editProfileModal">edit profile</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- profile menu area end -->

    <!-- Edit Profile Modal -->
    <div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editProfileModalLabel">Edit Profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="editProfileForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="profileImage">Profile Image</label>
                                    <input type="file" class="form-control-file" id="profileImage" accept="image/*">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="backgroundImage">Background Image</label>
                                    <input type="file" class="form-control-file" id="backgroundImage" accept="image/*">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="aboutMe">About Me</label>
                            <textarea class="form-control" id="aboutMe" rows="3">@Model.AboutMe</textarea>
                        </div>
                        <div class="form-group">
                            <label for="workingZone">Working Zone</label>
                            <input type="text" class="form-control" id="workingZone" value="@Model.WorkingZone">
                        </div>
                        <div class="form-group">
                            <label for="education">Education</label>
                            <input type="text" class="form-control" id="education" value="@Model.Education">
                        </div>
                        <div class="form-group">
                            <label for="contacts">Contacts</label>
                            <input type="text" class="form-control" id="contacts" value="@Model.Contacts">
                        </div>
                        <div class="form-group">
                            <label for="facebookLink">Facebook Link</label>
                            <input type="url" class="form-control" id="facebookLink" value="@Model.FacebookLink">
                        </div>
                        <div class="form-group">
                            <label for="twitterLink">Twitter Link</label>
                            <input type="url" class="form-control" id="twitterLink" value="@Model.TwitterLink">
                        </div>
                        <div class="form-group">
                            <label for="googleLink">Google Link</label>
                            <input type="url" class="form-control" id="googleLink" value="@Model.GoogleLink">
                        </div>
                        <div class="form-group">
                            <label for="pinterestLink">Pinterest Link</label>
                            <input type="url" class="form-control" id="pinterestLink" value="@Model.PinterestLink">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveProfile">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- sendary menu start -->
    <div class="menu-secondary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="secondary-menu-wrapper bg-white">
                        <div class="page-title-inner">
                            <h4 class="page-title">about</h4>
                        </div>
                        <div class="main-menu-inner header-top-navigation">
                            <nav>
                                <ul class="main-menu">
                                    <li><a href="@Model.FacebookLink"><span>facebook</span> <i class="flaticon-facebook"></i></a></li>
                                    <li><a href="@Model.TwitterLink"><span>twitter</span> <i class="flaticon-twitter-logo-silhouette"></i></a></li>
                                    <li><a href="@Model.GoogleLink"><span>google</span> <i class="flaticon-google-plus"></i></a></li>
                                    <li><a href="@Model.PinterestLink"><span>pinterest</span> <i class="flaticon-pinterest"></i></a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="post-settings-bar">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- sendary menu end -->

    <!-- about author details start -->
    <div class="about-author-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="card widget-item">
                        <div class="about-me">
                            <ul class="nav flex-column about-author-menu">
                                <li><a href="#one" data-toggle="tab" class="active">Something About Me</a></li>
                                <li><a href="#two" data-toggle="tab">Working Zone</a></li>
                                <li><a href="#three" data-toggle="tab">Educational Qualification</a></li>
                                <li><a href="#four" data-toggle="tab">Contact Details</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="about-description">
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="one">
                                <div class="work-zone">
                                    <div class="author-desc-title d-flex">
                                        <h6 class="author"><a href="profile">@Model.UserName</a></h6>
                                        <div class="post-settings-bar">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <div class="post-settings arrow-shape">
                                                <ul>
                                                    <li><button>copy link to adda</button></li>
                                                    <li><button>edit post</button></li>
                                                    <li><button>embed adda</button></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <p>@Model.AboutMe</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="two">
                                <div class="work-zone">
                                    <div class="author-desc-title d-flex">
                                        <h6 class="author"><a href="profile">@Model.UserName</a></h6>
                                        <div class="post-settings-bar">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <div class="post-settings arrow-shape">
                                                <ul>
                                                    <li><button>copy link to adda</button></li>
                                                    <li><button>edit post</button></li>
                                                    <li><button>embed adda</button></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <p>@Model.WorkingZone</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="three">
                                <div class="work-zone">
                                    <div class="author-desc-title d-flex">
                                        <h6 class="author"><a href="profile">@Model.UserName</a></h6>
                                        <div class="post-settings-bar">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <div class="post-settings arrow-shape">
                                                <ul>
                                                    <li><button>copy link to adda</button></li>
                                                    <li><button>edit post</button></li>
                                                    <li><button>embed adda</button></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <p>@Model.Education</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="four">
                                <div class="work-zone">
                                    <div class="author-desc-title d-flex">
                                        <h6 class="author"><a href="profile">@Model.UserName</a></h6>
                                        <div class="post-settings-bar">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <div class="post-settings arrow-shape">
                                                <ul>
                                                    <li><button>copy link to adda</button></li>
                                                    <li><button>edit post</button></li>
                                                    <li><button>embed adda</button></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <p>@Model.Contacts</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about author details start -->

    <!-- photo section start -->
    <div class="photo-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="content-box">
                        <h5 class="content-title">photos</h5>
                        <div class="content-body">
                            @await Component.InvokeAsync("PhotoGallery", Model.UserId)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- photo section end -->

    <!-- photo section start -->
    <div class="friends-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="content-box">
                        <h5 class="content-title">friends</h5>
                        <div class="content-body">
                            @await Component.InvokeAsync("FriendTable", Model.UserId)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- photo section end -->

    @if (Model.Hobbies != null)
    {
        @foreach (var hobby in Model.Hobbies)
        {
            <!-- favorite book section start -->
            <div class="faborite-books">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="content-box">
                                <h5 class="content-title">@hobby.Name</h5>
                                 <div class="content-body">
                                    <div class="row favorite-item-carousel">
                                        @foreach (var photo in @hobby.Photos)
                                        {
                                            <div class="col">
                                                <figure class="favorite-item">
                                                    <a href="#">
                                                        <img src=@photo.Path alt="">
                                                    </a>
                                                </figure>
                                            </div>   
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- favorite book section end -->
        }
    }
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            $('#saveProfile').click(function() {
                // First update profile data
                var profileData = {
                    aboutMe: $('#aboutMe').val(),
                    workingZone: $('#workingZone').val(),
                    education: $('#education').val(),
                    contacts: $('#contacts').val(),
                    facebookLink: $('#facebookLink').val(),
                    twitterLink: $('#twitterLink').val(),
                    googleLink: $('#googleLink').val(),
                    pinterestLink: $('#pinterestLink').val()
                };

                $.ajax({
                    url: '/api/updateProfile',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(profileData),
                    success: function() {
                        // Then update images if they were selected
                        var formData = new FormData();
                        var profileImage = $('#profileImage')[0].files[0];
                        var backgroundImage = $('#backgroundImage')[0].files[0];

                        if (profileImage) {
                            formData.append('profileImage', profileImage);
                        }
                        if (backgroundImage) {
                            formData.append('backgroundImage', backgroundImage);
                        }

                        if (profileImage || backgroundImage) {
                            $.ajax({
                                url: '/api/updateProfileImage',
                                type: 'POST',
                                data: formData,
                                processData: false,
                                contentType: false,
                                success: function() {
                                    location.reload();
                                },
                                error: function() {
                                    alert('Error updating profile images');
                                }
                            });
                        } else {
                            location.reload();
                        }
                    },
                    error: function() {
                        alert('Error updating profile data');
                    }
                });
            });
        });
    </script>
}