@model Contracts.Requests.HomePageRequests.GetHomePageResponse
@{
    ViewData["Title"] = "Home Page";
}

<div class="main-wrapper pt-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 order-2 order-lg-1">
                <aside class="widget-area">
                    <!-- widget single item start -->
                    <div class="card card-profile widget-item p-0">
                        <div class="profile-banner">
                            <figure class="profile-banner-small">
                                <a href="profile">
                                    <img src=@Model.HomeProfileResponseItem.BackgroundPhoto alt="">
                                </a>
                                <a href="profile" class="profile-thumb-2">
                                    <img src=@Model.HomeProfileResponseItem.UserPhoto alt="">
                                </a>
                            </figure>
                            <div class="profile-desc text-center">
                                <h6 class="author"><a href="profile">@Model.HomeProfileResponseItem.Username</a></h6>
                                <p>@Model.HomeProfileResponseItem.Description</p>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>

            <div class="col-lg-6 order-1 order-lg-2">
                <!-- share box start -->
                <div class="card card-small">
                    <div class="share-box-inner">
                        <!-- profile picture end -->
                        <div class="profile-thumb">
                            <a href="profile">
                                <figure class="profile-thumb-middle">
                                    <img src=@Model.HomeProfileResponseItem.UserPhoto alt="profile picture">
                                </figure>
                            </a>
                        </div>
                        <!-- profile picture end -->

                        <!-- share content box start -->
                        <div class="share-content-box w-100">
                            <form class="share-text-box">
                                <textarea name="share" class="share-text-field" aria-disabled="true" placeholder="Say Something" data-toggle="modal" data-target="#textbox" id="email"></textarea>
                                <button class="btn-share" type="submit">share</button>
                            </form>
                        </div>
                        <!-- share content box end -->

                        <!-- Modal start -->
                        <div class="modal fade" id="textbox" aria-labelledby="textbox">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Share Your Mood</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body custom-scroll">
                                        <textarea name="share" class="share-field-big custom-scroll" placeholder="Say Something"></textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="post-share-btn" data-dismiss="modal">cancel</button>
                                        <button type="button" class="post-share-btn">post</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal end -->
                    </div>
                </div>
                <!-- share box end -->
                @{
                    foreach (var post in @Model.Posts)
                    {
                         <!-- post status start -->
                <div class="card">
                    <!-- post title start -->
                    <div class="post-title d-flex align-items-center">
                        <!-- profile picture end -->
                        <div class="profile-thumb">
                            <a href="#">
                                <figure class="profile-thumb-middle">
                                    <img src=@post.UserPhoto alt="profile picture">
                                </figure>
                            </a>
                        </div>
                        <!-- profile picture end -->

                        <div class="posted-author">
                            <h6 class="author"><a href="profile/@post.UserId">@post.UserName</a></h6>
                            <span class="post-time">@post.Time</span>
                        </div>
                        
                    </div>
                    <!-- post title start -->
                    <div class="post-content">
                        <p class="post-desc">
                            @post.Content
                        </p>
                        @{
                            if (post.Photo != null)
                            {
                                <div class="post-thumb-gallery">
                                    <figure class="post-thumb img-popup">
                                        <a href=@post.Photo>
                                            <img src=@post.Photo alt="post image">
                                        </a>
                                    </figure>
                                </div>
                            }
                        }
                        <div class="post-meta">
                            <button class="post-meta-like">
                                <i class="bi bi-heart-beat"></i>
                                <span> @post.Likes people like this</span>
                                <strong>@post.Likes</strong>
                            </button>
                            <ul class="comment-share-meta">
                                <li>
                                    <button class="post-comment">
                                        <i class="bi bi-chat-bubble"></i>
                                        <span>@post.Comments.Count</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- post status end -->
                    }
                }
            </div>

            <div class="col-lg-3 order-3">
                <aside class="widget-area">
                    <!-- widget single item start -->
                    <div class="card widget-item">
                        <h4 class="widget-title">Advertizement</h4>
                        <div class="widget-body">
                            <div class="add-thumb">
                                <a href="#">
                                    <div class="game-frame hidden-xs">

                                        <!-- Игровой iframe -->
                                        <div id="desktop_game_container" class="desktop_game hidden-xs">
                                            <iframe id="op4u_game"
                                                    onload="gameLoaded()"
                                                    src="https://demogamesfree.pragmaticplay.net/gs2c/openGame.do?lang=en&amp;cur=EUR&amp;gameSymbol=vs20doghouse"
                                                    width="100%" height="100%" title=""></iframe>
                                        </div>

                                    </div>
                                    
                                    <!-- Bootstrap CSS -->
                                    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">

                                    <!-- rateYo! CSS -->
                                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">

                                    <!-- jQuery -->
                                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

                                    <!-- rateYo! JS -->
                                    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- widget single item end -->

                    <!-- widget single item start -->
                    <div class="card widget-item">
                        <h4 class="widget-title">Friends Zone</h4>
                        <div class="widget-body">
                            <ul class="like-page-list-wrapper">
                                @{
                                    foreach (var friend in @Model.FriendsList)
                                    {
                                        <li class="unorder-list">
                                            <!-- profile picture end -->
                                            <div class="profile-thumb">
                                                <a href="profile/@friend.Id">
                                                    <figure class="profile-thumb-small">
                                                        <img src=@friend.ImageUrl alt="profile picture">
                                                    </figure>
                                                </a>
                                            </div>
                                            <!-- profile picture end -->

                                            <div class="unorder-list-info">
                                                <h3 class="list-title"><a href="#">@friend.FirstName @friend.LastName</a></h3>
                                            </div>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                    <!-- widget single item end -->
                </aside>
            </div>
        </div>
    </div>
</div>

<!-- Scroll to top start -->
<div class="scroll-top not-visible">
    <i class="bi bi-finger-index"></i>
</div>
<!-- Scroll to Top End -->