@model Contracts.Requests.AdminRequests.FriendCategoriesRequests.GetAllFriendCategoriesResponse
@{
    ViewData["Title"] = "Категории друзей";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">@ViewData["Title"]</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/admin">Панель управления</a></li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Список категорий друзей
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>User Id</th>
                        <th>Friend Id</th>
                        <th>Friend Category Id</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>User Id</th>
                        <th>Friend Id</th>
                        <th>Friend Category Id</th>
                        <th>Name</th>
                    </tr>
                </tfoot>
                <tbody>
                @foreach (var item in @Model.Categories)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.UserId</td>
                        <td>@item.FriendId</td>
                        <td>@item.FriendCategoryId</td>
                        <td>@item.Name</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div> 