@model Contracts.Requests.AdminRequests.MessageRequests.GetAllMessagesResponse
@{
    ViewData["Title"] = "Сообщения";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">@ViewData["Title"]</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/admin">Панель управления</a></li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Список сообщений
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Chat Id</th>
                    <th>Sender Id</th>
                    <th>Sender Name</th>
                    <th>Content</th>
                    <th>Timestamp</th>
                    <th>Is Read</th>
                    <th>Created Date</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Chat Id</th>
                    <th>Sender Id</th>
                    <th>Sender Name</th>
                    <th>Content</th>
                    <th>Timestamp</th>
                    <th>Is Read</th>
                    <th>Created Date</th>
                </tr>
                </tfoot>
                <tbody>
                @foreach (var message in @Model.Messages)
                {
                    <tr>
                        <td>@message.Id</td>
                        <td>@message.ChatId</td>
                        <td>@message.SenderId</td>
                        <td>@message.SenderName</td>
                        <td>@message.Content</td>
                        <td>@message.Timestamp</td>
                        <td>@message.IsRead</td>
                        <td>@message.CreatedDate</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div> 